.steps-image div.descheader {
 margin-left: 20px !important;
 display: block;
 font-weight: bold;
}

.padtopbottomimg {
	width: 75% !important;
	margin-top: 35px !important;
	margin-bottom: 30px !important;
}

.footerLinksSpecial a {
	color:darkblue !important;
	font-size: 13px !important;
}

.uspage {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
}

.uspage, .uspage ul li {
	font-size: 12px;
	line-height: 18px;
}

.uspage ul {
	margin: 5px;
}

.uspage b {
	margin-bottom: 8px;
}

#overlay { 
  display:none; 
  position:absolute; 
  background:black; 
  opacity: 1.0;
  width: 100%;
}
#img-load { 
  position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: black;
	border-radius: 25px;
}

#img-load-link {
	position: fixed;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	font-size: 18px;
	text-decoration: none;
}

.topFixedPosition {
	/*position: absolute;
	width: 100%;*/
}

.title .siteLogoHdr{
 	font-size: 44pt;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: normal;
    text-shadow: -2px 2px 3px grey;
    color: black;
}

 .title .siteLogoHdr:hover{
 	color: black;
 }

.fleft {
	float: left;
}

.fright {
	float: right;
}

.botNextPrev .clear {
	width: 240px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middleTop .left .data h1 {
	margin: 0px;
    font-size: 22px;
    font-family: cursive;
    padding-bottom: 14px;
    line-height: 40px;
}

.specialH1 {
	margin: 0px;
    font-size: 19px;
    font-family: cursive;
}

.specialHome {
	/*background: url(../images/bij.jpg) center center fixed no-repeat !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: whitesmoke;*/
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.2+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
height:auto;
}

.specialHomeContainer {
	background: white;
    padding: 10px 20px 20px 20px !important;
}

#aboutData {
	position: absolute;
	font-family: cursive;
    top: 220px;
    left: 40px;
    width: 330px;
    font-size: 18px;
    color: white;
    line-height: 28px;
    font-weight: normal;
    background: rgba(32,32,32,0.4);
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(132,132,182,0.5);
}

#aboutData a{
	color: white;
	text-decoration: none;
}

.paginationHeader h1 {
	float: left;
	padding-top: 10px;
}

.paginationHeader .topPaginationData {
	clear: none !important;
    text-align: right;
    padding-right: 0px;
}

.rightAddSection {
	width: 230px;
    height: 230px;
    position: fixed;
    right: 0px;
    display:none;
    bottom:0px;
}

.descp a, .desc a {
	color: #22B5E3;
}

.headerFont {
	font-size: 24px;
    margin: 0px;
    font-weight: normal;
}
.highlight {
    color: white;
    text-transform: uppercase;
    background-color: darkblue;
}

#searchMdl {
	min-height: 550px;
	text-align:center;
	padding: 100px;
	padding-top:20px;
}

.f30px {
	font-size:30px;
}

.searchTxt {
	float:left;
	font-size:30px;
	padding-left:15px;
}

.searchPlace {
	clear: both;
	padding-top:40px;
	width: 100%;
}

.searchPlace .searchLeft a:hover { 
	background: #22B5E3;
}

.searchLeft {
	float:left;
}

.searchRight {
	float: left;
	padding-left: 15px;
}

.searchPlace .searchLeft a {
	background: grey;
    padding: 6 12 6 12;
    color: white;
    font-size: 12px;
    width: 40px;
    border: 2px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    float:left;
}

.searchPlace .searchLeft input {
	margin-top: 1px;
	height: 25px;
	width: 136px;
	float: left;
}

.adSection {
	display:none;
	width: 728px;
    height: 95px;
    position: relative;
    top: 0px;
    margin: auto;
    right: 0px;
    margin-top: 20px;
}

.adSectionTop {
	display:none;
	width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    margin: auto;
    right: 0px;
}

.header .title{
	float: left;
	margin-top: -5px;
	padding-left: 10px;
	width: 50%;
}

.header {
	background-image: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-size: 100px 70px;
    height: 70px;
}

.header .title img {
	width: 280px;
}

.disqus_thread_class {
	clear: both;
	overflow: scroll;
    min-height: 300px;
    padding: 20px;
}

.commentHeader {
	font-size: 17px;
	float: left;
	border-bottom: 1px solid grey;
	width: 100%;
}

.relatedRecipes {
	font-size: 17px;
	float: left;
	padding: 10px 0px;
	width: 100%;
}

.relatedRecipesData { 
	padding: 20px;
    height: 490px;
    background: lightgrey;
    font-family: cursive;
    box-shadow: 5px 5px 5px rgba(132,132,182,0.5);
}

.relatedRecipesData .imagesPage a {
	color: black;
}

.relatedRecipesData .imagesPage a:hover {
	color: white;
}

.relatedRecipesData .imagesPage {
	height: 250px;
}

.headerLogo {
    position: absolute;
    top: 25px;
    left: 160px;
    z-index: -1;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

.headerLogo img {
	width: 110px;
}

.wordcloud {
  height: 540px;
  margin: 10px auto;
  padding: 0;
  page-break-after: always;
  page-break-inside: avoid;
  width: 70%;
}

.wordcloud span {
  display: none;
}

.recipePage {
	min-height: 550px;
}
.dataTable img {
	box-shadow: 9px 8px 5px #888888;
}

.dataTable {
	float: left;
}

.middleTop {
	clear: both;
	width: 100%;
	height: 300px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
	background: rgb(242,249,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

}

.middleTop .left {
	float: left;
	width: 48%;
	text-align: center;
}

.middleTop .left .data { 
	font-size: 20px;
    text-align: left;
    padding-top: 7%;
    width: 80%;
    padding-left: 8%;
}


.middleTop .left .data a {
    background: grey;
    padding: 10 20 10 20;
    color: white;
    font-size: 18px;
    width: 120px;
    border: 2px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.middleTop .left .data a:hover {
	background: #22B5E3;
}

.middleTop .middle {
	width: 2%;
	float: left;
}

.middleTop .right {
	float: left;
	width: 50%;
}

.middleTop  .right img {
	width: 100%;
	height: 300px;
}

.middleData {
	padding-top: 0px;
	padding-bottom: 10px;
}

.headerMenu {
	color: black;
	padding-top: 2px;
	margin-bottom: 2px;
	border-bottom: 2px solid grey;
	height: 28px;
	clear: both;
	padding-bottom: 2px;
}

.headerMenu ul {
	margin-top: 5px;
}


.headerMenu ul li {
	list-style: none;
	padding-left: 25px;
	float: right;
}

.headerMenu ul li a {
	font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #22B5E3;
} 

.headerMenu ul li a.selected {
	color: #330066;
}

.headerMenu ul li a:hover {
	color: #330066;
}

.header {
	padding-left: 20px;
	padding-top: 7px;
	clear: both;
}

.header .right{
	float: right;

}

.header .right a{
	float: right;
}

.vegTopLine {
	border-bottom: 2px solid green;
    height: 0px !important;
}

.defaultTopLine {
	height: 5px;
}

.nonVegTopLine {
	border-bottom: 2px solid #E41B17;
    height: 0px !important;
}

body {
	height: 100%;
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Sans Serif", Tahoma, sans-serif;
	font-size: 15px;
	padding-top: 5px;
}

.centerContent {
    padding: 0 0.3rem;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.middleBottom {
	padding-top: 12px;
	height: 550px;
	clear: both;
}

.cookbook {
	padding: 10px;
	padding-top: 11px;
    background-color: lightgray;
    margin-top: 12px;
    color: darkblue;
    font-size: 14px;
    font-weight: bold;
}

.cookbook a:hover {
	color: white;
}

.cookbook a.download:hover {
	background: grey;
}

.cookbook a.download {
	background: darkblue;
    padding: 5 10 5 10;
    color: white;
    font-size: 13px;
    width: 120px;
    border: 2px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}


.middleBottom .title {
	padding-top: 13px;
	height: 80px;
}

.middleBottom .title  a{
	text-decoration: none;
	font-size: 18px;
	color: #22B5E3;
}

.middleBottom .title  a:hover{
	color: #5d3a52;
}

.middleBottom .left, .middleBottom .middle, .middleBottom .right {
	float: left;
	width: 30%;
	text-align: center;
	height: 250px;
}

.middleBottom .left img, .middleBottom .middle img, .middleBottom .right img {
	width: 100%;
	height: 180px;
	box-shadow: 9px 8px 5px #888888;
}

.middleBottom .middle, .middleBottom .right {
	padding-left: 5%;
}

.lineBreakBottom {
	border: 1px solid grey;
}

.footer {
	clear: both;
	text-align: center;
}

.itemTypeLabel {
    position: absolute;
    background: lightgrey;
    padding: 5px;
    border-radius: 0px 8px 0px 0px;
    left: 0px;
    bottom: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: cursive;
}

.vegItem {
  color: white;
  background: #254117;
  padding:5px 15px;
}

.nonVegItem {
  color: white;
  background: #990012;
}

.blankTR {
    height: 30px;
}

.title {
	font-size: 19px;
}

.title a{
	color: #22B5E3;
	text-decoration: none;
}

.title a:hover{
	color: #5d3a52;
}

.recipePage {
	padding-top: 20px;
}

.wordcloud, .wordcloudImg {
	padding-top: 20px;
	min-height: 550px;
	clear: both;
}

.recipeDataPage {
	padding-top: 0px;
	min-height: 550px;
	clear: both;
}

.imagesPage {
	float: left;
}

.tagContent {
	padding-top: 15px;
	padding-bottom: 15px;
}

.tagContent .heading {
	font-weight: bold;
}

.topNextPrevNavLinks {
	padding-top: 10px;
}

.imagesPage a, .footer a, .linkColor a{
	color: #22B5E3;
	text-decoration: none;
}

.tagContent a {
	color: black;
	text-decoration: none;
}

.tagContent a:hover {
	color: grey;
}

.prevLink:before {
	content: url(../images/arrow-left.png);
}

.netxLink:after{
	content: url(../images/arrow-right.png);
}

.prevLinkD:before {
	content: url(../images/arrow-left-disabled.png);
}

.netxLinkD:after{
	content: url(../images/arrow-right-disabled.png);
}

.imagesPage a:hover, .footer a:hover {
	color: #5d3a52;
}

.imagesPage img {
	height: 130px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 9px 8px 5px #888888;
}

.relatedRecipesData .imagesPage img {
	height: 180px;
}

.group1 img {
	box-shadow: 9px 8px 5px #888888;
}

.desc {
	padding-top: 15px;
    font-size: 15px;
    float: left;
    line-height: 23px;
}

.topPaginationData, .tagContent {
	clear: both;
	text-align: center;
	padding:10px;
}

.topPaginationData  span{
	padding-right: 10px;
	display: inline-block;
	font-size: 19px;
}

.tagContent span{
	display: inline-block;
	font-size: 16px;
	border: 1px solid grey;
    text-align: center;
    padding: 4px 6px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
}


.topPaginationData  span.selected{
	font-size: 17px;
    color: white;
    padding: 7px;
    margin-right: 8px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+3,28343b+100 */
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 3%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(3%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.topPaginationData  span a:hover {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+3,28343b+100 */
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 3%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(3%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.topPaginationData  span a{
	font-size: 16px;
    color: black;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
	background: rgb(242,249,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

}

.clear {
	clear:both;
}

.data p {
	font-family: cursive;
	font-size: 22px;
}

.internalLI {
	list-style: none;
    margin-left: -19px;
    font-weight: bold;
    padding-top: 8px;
}

.steps-image img {
    width: 55%;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 9px 8px 5px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.complete {
	padding-top: 10px;
    font-weight: bold;
}

.steps-image div {
	padding-top: 10px;
    font-size: 17px;
    display: list-item;
    margin-left: 1.3em;
    margin-left: 40px;
}

.topImagePosition {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

h2 {
	font-weight: 400;
    margin-bottom: 10px;
}

h1 {
	float:left;
	margin-bottom:5px;
	font-weight: 500;
}

ul li {
	line-height: 28px;
    font-size: 17px;
}

.steps-image span {
	display: block;
    font-size: 19px;
    font-weight: 400;
}