<html>
	<head>
		<title>##TITLE_DATA##</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<link rel="icon" type="image/jpeg" href="http://spicyworld.in/images/site-icon.png">
		<link rel="alternate" type="application/rss+xml" href="http://spicyworld.in/rss.xml" title="RSS feed for Spicy World"/>

		<link rel="canonical" href="http://spicyworld.in##URL_DATA##" />
		<meta property="og:title" content="##TITLE_DATA##" />
		<meta property="og:site_name" content="Spicy World" />
		<meta property="og:url" content="http://spicyworld.in##URL_DATA##" />
		<meta property="fb:app_id" content="1387433224896844" />
		<meta property="og:keywords" content="##KEYWORD_DATA##" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="##DESC_DATA##" />
		<meta property="og:image" content="http://spicyworld.in/##IMG_DATA##" />
		<link rel="image_src" href="http://spicyworld.in/##IMG_DATA##" / >

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/site.css##BUILD_NO##"/>
		<script type="text/javascript" src="js/jquery.min.js##BUILD_NO##"></script>
		<script type="text/javascript" src="js/site-mobile.js##BUILD_NO##"></script>
		<script type="text/javascript" src="../js/siteCommon.js##BUILD_NO##"></script>
		<script type="text/javascript" src="../js/searchdata.js##BUILD_NO##"></script>
		<script type="text/javascript" src="../js/fuse.min.js##BUILD_NO##"></script>
		##ADDITIONAL_SCRIPTS##
		<script type="text/javascript">
			function onLoadCall() {
				##ONLOAD_CALL##
			}
		</script>
	</head>
	<body onLoad="onLoadCall()">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLC7RQG"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1387433224896844";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="centerContent">
			<div class="header">
				<div class="title"><a title="Spicy World" alt="Spicy World" href="index.html"><img title="Spicy World" alt="Spicy World" src="../images/site-icon.png"/></a></div>
				<div class="homeTagLine">Simple and Easy Recipes</div>
			</div>
			<hr class="lineBreakBottom"/>
			<div>
				<div class="headerMenu topMarginBotnopx">
					<ul class="nomarginTop">
						<li onclick="javascript:openHeaderMenu()">
							<a href="javascript:openHeaderMenu()">Menu</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="headerMenu" id="headerMenuTopSection" style="display:none">
				<ul>
					<li onclick="javascript:callMe('index.html')" class="##index_sel##"><a href="index.html" alt="Home" title="Home">Home</a></li>
					<li onclick="javascript:callMe('recipes.html')" class="##recipes_sel##" ><a href="recipes.html" alt="Recipes" title="Recipes">Recipes</a></li>
					<li onclick="javascript:callMe('tags.html')" class="##tags_sel##" ><a href="tags.html" alt="Categories" title="Categories">Categories</a></li>
					<li onclick="javascript:callMe('about-me.html')" class="##about_sel##" ><a href="about-me.html" alt="About Me" title="About Me">About Me</a></li>
				</ul>
			</div>
			<div class="middleData">
				##MIDDLE_DATA##
				<div class="headerMenu">
					<ul>
						<li onclick="javascript:callMe('index.html')" class="##index_sel##"><a href="index.html" alt="Home" title="Home">Home</a></li>
						<li onclick="javascript:callMe('recipes.html')" class="##recipes_sel##" ><a href="recipes.html" alt="Recipes" title="Recipes">Recipes</a></li>
						<li onclick="javascript:callMe('tags.html')" class="##tags_sel##" ><a href="tags.html" alt="Categories" title="Categories">Categories</a></li>
						<li onclick="javascript:callMe('about-me.html')" class="##about_sel##" ><a href="about-me.html" alt="About Me" title="About Me">About Me</a></li>
						<li onclick="javascript:callMe('user-agreement.html')" class="##ua_sel##" ><a href="user-agreement.html" alt="User Agreement" title="User Agreement">User Agreement</a></li>
					</ul>
				</div>
				<div class="searchPlace">
					<input onkeypress="enterPressCheck(event)" type="text" id="searchBox" class=".searchBox" placeholder="Search Recipes"/>
					<br/><br/>
					<a href="javascript:searchData()">Search</a>
				</div>
				<div class="footer">
					<br/>All Recipes and Images © 2016 Spicy World<br/>All rights reserved.
				</div>
			</div>
		</div>
	</body>
</html>