<!-- Top Banner -->
<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:50px"
     data-ad-client="ca-pub-7901069235725761"
     data-ad-slot="4592653938"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->

<!-- Footer Ad -->
<!--
<ins class="adsbygoogle" style="display:inline-block;width:730px;height:90px" data-ad-client="ca-pub-7901069235725761" data-ad-slot="1981019539"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
-->

<!-- New Bottom 1 -->
<!--
<ins class="adsbygoogle"
     style="display:inline-block;width:230px;height:230px"
     data-ad-client="ca-pub-7901069235725761"
     data-ad-slot="7376577130"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->