<html>
	<head>
		<title>My Recipes | Spicy World | Arpita's Kitchen</title>
		<link rel="alternate" href="http://amitava3g.github.io" hreflang="en-us" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />

		<meta property="og:title" content="My Recipes | Spicy World by Arpita Ghosh Das" />
		<meta property="og:site_name" content="Spicy World" />
		<meta property="og:url" content="http://amitava3g.github.io/arpita" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="Welcome to Spicy World by Arpita Ghosh Das." />
		<meta property="og:image" content="http://amitava3g.github.io/arpita/images/home-bg.jpg" />
		<link rel="icon" type="image/jpeg" href="http://amitava3g.github.io/arpita/images/home-bg.jpg">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/common.css##BUILD_NO##"/>
		<script type="text/javascript" src="carosal/jquery.js"></script>
		<script type="text/javascript" src="js/common.js##BUILD_NO##"></script>
	</head>
	<body class="newBodybody bg">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1387433224896844";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="menuArea">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="recipes.html" class="highlighted">My Recipes</a></li>
				<li><a href="feedback.html">Feedback</a></li>
			</ul>
			<div class="homeTopFb"><a href="https://www.facebook.com/spicyworldrecipes" target="_blank"><img src="images/fb.jpg" width="100px" alt="Follow us on Facebook" title="Follow us on Facebook"/></a></div>
		</div>
		<div class="siteTopLogo">
			<a href="/arpita"><img src="images/header-logo.jpg"/></a>
		</div>
		<div style="padding:20px;">
			<div class="topDropdown">
				<select onChange="changePage()" id="pageDD" name="pageDD">
					<option value="all">All Dishes</option>
					<option value="vegItem-1">Vegetarian Dishes</option>
					<option value="nonVegItem-1">Non-Vegetarian Dishes</option>
				</select>
			</div>
			<div id="placeData" style="float:left;padding-top:80px;padding-left:100px;width:90%">##DATA_ENTRY##</div>
		</div>		

		<div class="pageFooterOther">
			© 2015 Amitava Ghosh&nbsp;&nbsp;&nbsp;
			<div class="fb-like" data-href="http://amitava3g.github.io/arpita/" data-width="100" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<div class="pageFooterOther footerRight">
			<a href="http://amitava3g.github.io/arpita/rss.xml">RSS</a>&nbsp;|&nbsp;<a href="http://amitava3g.github.io/sitemap.xml">Sitemap</a>
		</div>

		<div class="homeDivAdd" id="homeDivAdd">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- Spicy World Square Ad -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:300px;height:250px"
			     data-ad-client="ca-pub-7901069235725761"
			     data-ad-slot="5489355135"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-61634056-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</body>
</html>