@media (max-width: 320px) {
	.specialHomeContainer .middleData .footer {
		width: 88% !important;
	}

	.footer .one, .footer .two, .footer .three {
		height: auto !important;
	}
}
@media (max-width: 376px) {
	.fbSocial {
		clear: both !important;
	    padding-left: 0px !important;
	    padding-top: 10px !important;
	}
	#rating {
		padding-top: 9px;
		padding-bottom: 5px;
	}

	.recipeDataPage .addBottomRecipePage .relatedRecipesData .imagesPage .addImgDiv {
		height: 225px !important;
	}

	.footer .one, .footer .two, .footer .three {
		height: auto !important;
	}
}
@media (max-width: 430px) {
	/*.adSectionTop {
		display: none !important;
		overflow: hidden;
	}*/

	.adSectionTop .adsbygoogle {
		width: 150px !important;
	}

	.middleData .footer {
		width: 89% !important;
	}

	.specialHome .centerContent .middleData .recipeDataPage .simple-blog .steps-image .videoIframeDiv, .centerContent .middleData .recipeDataPage .youtubeLink {
		width: 280px !important;
	}
	
	.specialHome .centerContent .middleData .recipeDataPage .simple-blog .videoIframeDiv iframe, .centerContent .middleData .recipeDataPage .youtubeLink iframe {
		width: 280px !important;
		height: 163px !important;
	}

	.footer .one, .footer .two, .footer .three {
		height: auto !important;
	}
}

@media (max-width: 570px) {
	.centerContent .middleData .recipeDataPage .simple-blog .steps-image .videoIframeDiv, .middleData .recipeDataPage .youtubeLink {
		width: 360px !important;
	}
	
	.centerContent .middleData .recipeDataPage .simple-blog .videoIframeDiv iframe, .middleData .recipeDataPage .youtubeLink iframe {
		width: 360px !important;
		height: 203px !important;
	}

	.addBottomRecipePage .relatedRecipesData .imagesPage .addImgDiv {
		height: 240px !important;
	}

	.footer .one, .footer .two, .footer .three {
		height: auto !important;
	}
}

@media (max-width: 985px) {
	.leftOne, .leftTwo, .leftThree {
		padding-top: 10px;
		clear: both;
		float: none;
		margin: 0px auto !important;
		width: 100% !important;
	}
	.footer .one, .footer .two, .footer .three {
		height: auto !important;
	}
}

@media (max-width: 768px) {
	.cal-item {
	    position: relative !important;
	    margin: 0px auto;
	    width: 250px;
	}
	.three {
		border-top: 1px solid grey;
    	padding-top: 15px;
	}
	.three .bioSectionHeading {
		float: left !important;
		padding-top: 5px !important;
	}
	.three .bioSection {
	    float: left;
	    text-align: left;
	    padding-top: 10px !important
	}
	.bioLeft {
		float: left !important;
	}
	.three .bioRight {
		float: left !important;
		text-align: left !important;
    	clear: none !important;
    	padding-top: 0px !important;
    	padding-left: 10px !important;
	}
	.bioRight span {
		float: left;
	}
	.bioRight a, .bioRight b {
		float: left !important;
		text-align: left !important;
		float: none !important;
	}
	.publicpresenceItem img,  .publicpresenceItem .divImg {
		width: 100px !important; 
    	height: 48px !important;
	}
	.spicyworld-apps .publicpresenceItem img {
		height: 100px !important;
	}
	.publicpresenceItem .datatxt {
		width: 60%;
		font-size: 13px;
	}
	.publicpresenceItem .datatxt span {
		font-size: 12px; 
	}
	.three div {
		padding-top: 20px !important;
	}
	.bottomHrTeam { 
		margin-left: -2px !important;
		width: 100% !important;
	}
	.middleData .recipeDataPage .simple-blog .steps-image .videoIframeDiv, .recipeDataPage .youtubeLink {
		width: 480px;
	}
	
	.middleData .recipeDataPage .simple-blog .videoIframeDiv iframe, .recipeDataPage .youtubeLink iframe {
		width: 480px !important;
		height: 270px !important;
	}

	.searchPlace .searchPositionTop input {
		padding: 4px !important;
	}
	
	.simple-blog iframe {
		width: 100% !important;
		height: 70% !important;
	}
	.simple-blog .steps-image img {
		width: 90% !important;
	}
	.relatedRecipesData .imagesPage .addImgDiv {
		height: 300px !important;
	}

	.accountMenu a {
		width: 95.5% !important;
	}
	.headerMenu {
		background: linear-gradient(#C3C3C3,#f3f3f3) !important;
	}
	.three a {
		float: left !important;
    		clear: both;
	}
	.three .email-subscribe a {
		float: none !important;
	}
	.three .contactMe, .three .contactMe b, .three .contactMe ul {
		text-align: left !important;
	}
	.searchPlace .searchPositionTop a { 
		margin-left: -3px !important;
		padding: 4px 12px 6px 12px !important;
	}
	.footer {
		width: 93% !important;
	}
	
	.footer .one, .footer .two, .footer .three {
		float: left !important;
		width: 99% !important;
		padding-bottom: 15px;
		height: auto !important;
	}
	.footer .two {
		border-top: 1px solid grey;
    	padding-top: 15px;
	}
	.steps-image img { 
		width: 85% !important;
	}

	.recipePage .rightClass {
		float: left !important;
	}

	.mobileMenuLink {
	    width: 30px;
	    position: absolute;
	    right: 20px;
	    top: 0px;
	    background: #008cba;
	}

	.mobileMenuLinkSelected {
		background: #008cba !important;
	}

	.lineMenu {
		border-bottom: 12px double white;
	    border-top: 4px solid white;
	    content: "";
	    height: 4px;
	    width: 30px;
	    right: 20px;
	    display: block;
	}

	.recipeListPageItem .recipeListPageItemLeft img {
		width: 100% !important;
	}

	.recipeListPageItemLeft img {
    	box-shadow: 1px 8px 15px 0px #888 !important;
		width: 100% !important;
	}

	.searchWhileNav {
		position: fixed !important;
	    left: 105px !important;
	    top: 6px !important;
	    z-index: 1111111 !important;
	}

	.searchLeft {
		position: absolute !important;
	    left: 20px !important;
	    top: 111px !important;
	    z-index: 1000 !important;
	}
	.topImagePosition {
		width: 90% !important;
	}

	.top10Tags {
		width: 95.5% !important;
	}
	.commentSectionPopOut {
		width: 80% !important;
	}

	.publicpresence .logo, .publicpresence .description {
		width: 100% !important;
	}

	.additionalRecipeCaption {
		width: 100% !important;
		height: auto !important;
		padding-bottom: 18px !important;
    	padding-top: 5px !important;
    	font-size: 20px !important;
	}

	.recipeListPageItemLeft {
		width: 100% !important;
	}

	.recipeListPageItemRight .desc {
		padding-top: 8px;
	}

	.recipeListPageItemRight {
    	width: 100% !important;
    	padding-left: 0px !important;
	}

	.recipeListPageItem {
    	padding-bottom: 25px !important;
	}

	.siteLogoMenu img {
		width: 70px !important;
    	height: 34px !important;
	}

	.siteLogoMenu {
		position: fixed;
    	top: 1px;
    	left: 0px;
	}

	.relatedRecipesData .imagesPage {
		height: auto !important;
		width: 100% !important;
	}

	.relatedRecipesData .imagesPage img {
		height: auto !important;
	}

	.aboutData a {
		color: cornflowerblue !important;
	}

	.aboutPageMain img {
		padding-right: 0px !important;
		width: 60%;
		height: auto !important;
	}

	.aboutPageMain {
		height: auto !important;
	}

	.middleTop {
		height: auto !important;
	}

	.middleBottom .left, .middleBottom .middle, .middleBottom .right {
		width: 100% !important;
		padding-left: 0px !important;
		height: auto !important;
		padding-bottom: 18px;
	}

	.middleBottom .left img, .middleBottom .middle img, .middleBottom .right img {
		height: auto !important;
	}

	.wordcloudImg {
		width: 100% !important;
	}

	.wordcloudImg .imagesPage {
		width: 48% !important;
	}

	.imagesPage div,  .imagesPage img {
		width: 97% !important;
	}

	.aboutData {
		position: inherit !important;
    	top: 0px !important;
    	left: 0px !important;
    	width: 95% !important;
    	margin: 10px;
    	padding: 0px !important;
    	background: none !important;
    	color: black !important;
    	box-shadow: none !important;
    	font-size: 20px !important;
    	line-height: 25px !important;
	}

	.aboutData .specialH1 {
		line-height: 19px !important;
	}

	.adsbygoogle {
		width: 96% !important;
	}
	
	.centerContent {
		width: 91% !important;
	}

 	.recipeListPageItem {
 		width: 99% !important;
 		padding-left: 0px !important;
 	}

 	.paginationHeader .topPaginationData {
 		clear: both !important;
	    width: 100% !important;
	    float: none !important;
	    margin: 0px auto;
	    text-align: center !important;
    	padding-top: 20px !important;
    	margin-top: 50px !important;
 	}

 	.paginationHeader h1 {
 		width: 100% !important;
 	}

 	.adSection, .adSection .adsbygoogle {
 		width: 100% !important;
 		overflow: hidden;
 	}

 	.mobileSpecificClass {
 		display: none !important;
 		position: absolute !important;
	    right: 20px !important;
	    top: 35px !important;
	    background: #f3f3f3 !important;
	    width: 300px !important;
	    z-index: 100001;
	    border-radius: 0 0 15px 15px;
    	box-shadow: 4px 4px 7px #888;
 	}

 	.mobileMenu {
 		display: block !important;
 		padding-right: 15px;
 	}

 	.headerMenu a.menuItems {
 		display: inline-block !important;
    	float: right !important;
    	clear: both !important;
    	width: 93% !important;
 	}
 }

 .headerMenu .mobileMenu a {
 	font-weight: bold;
 }

 .mobileMenu {
 	display: none;
 }

.boxArea {
	background: lightgoldenrodyellow;
}

.boxArea .boxAreaInner {
	padding: 10px !important;
}

.boxArea div {
    font-size: 15px;
    padding-bottom: 8px;
}

.refLinks {
	font-size: 17px;
    color: cadetblue !important;
    float: left;
    padding-right: 10px
}

.refLinksInternal {
	color: #22b5e3;
}

.disclamer {
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.captionExtend {
    width: 20px !important;
    margin-right: 6px;
    height: 15px !important;
    box-shadow: none !important;
}

.flexslider {
	width: 60%;
	float: left;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

.pleft {
    float: left;
    width: 35%;
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 30px !important;
    font-weight: 300 !important;
}

.pright {
    float: right;
    width: 35%;
    margin-left: 10px;
    font-size: 16px !important;
    line-height: 30px !important;
    font-weight: 300 !important;
}

.divright {
	float: right !important;
}

.divleft {
	float: left !important;
}

@media print {
	 .topFixedPosition, .topNextPrevNavLinks, .tagContent, 
	 .botNextPrev, .addBottomRecipePage, .rightAddSection, 
	 .lineBreakBottom, .footer, .socialAndOtherButtons {
	 	display: none !important;
	 }

	 .printOnlyRecipeNote {
	 	display: block !important;
	 }
}

.commentButton {
	float:left;
	background: #4A66B6;
	padding: 1px 7px 2.5px 7px;
	border-radius: 4px;
	line-height: 15px;
}

.commentButton:hover {
	background: rgba(74, 102, 182, 0.65);
}

.commentButtonPrint {
	margin-left: 10px;
	width: 40px;
	text-align: center;
}

.commentButton a {
	color: white;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}

.recipeSocialLinks {
	float:left;
	padding-left:10px;
}

.socialAndOtherButtons {
	clear: both;
	padding-top: 3px;
}

.printOnlyRecipeNote {
	display: none;
	font-size: 20px;
}

.addBottomRecipePage {
	clear:both;
	padding-top:20px;
	padding-bottom:20px;
}

.copyright {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    clear: both;
    font-weight: 500;
    color: #380000;
    height: 40px;
    padding-left: 8px;
    line-height: 20px;
}

.copynonVegItem {
	border-left: 10px solid red;
}

.copyvegItem {
	border-left: 10px solid green;
}

.copycopynonBlogItem {
	border-left: 10px solid #75C5DF;
}

.siteLogoMenu {
	display: none;
	float: left !important;
	position: fixed;
	top: 0px;
	left: 0px;
}

.headerMenu .siteLogoMenu a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.siteLogoMenu img {
	width: 60px;
    height: 34px;
}

.bottomLinksTags {
    display: inline-block;
    padding: 20px;
    background: linear-gradient(to bottom,rgba(218, 221, 226, 0.22) 0,rgb(236, 241, 242) 100%);
    box-shadow: 4px 7px 9px rgba(0, 0, 14, 0.27);
}

.fixed {
	position: fixed !important;
	top: 0px !important;
	z-index: 1000001;
}

.bottomLinksTags span {
    float: left;
    font-size: 16px;
    padding-top: 9px;
    width: 210px;
    padding-left: 15px;
}

.bottomLinksTags span a {
	color: #3998B7;
    text-decoration: none;
    margin-left: 5px;
    width: 120px;
    display: inline-block;
    float: left;
	margin-top: 5px;
}

.bottomLinksTags span:before {
	content: url(../images/tag-image-small.png);
	float: left;
    padding-top: 5px;
}

.bottomLinksTags span a:hover {
	color: #113744;
}

.topTags {
	background: #eee;
	height: 50px;
	width: 99%;
	display: inline-block;
	margin-top: 12px;
	border-left: 10px solid #22b5e3;
}

#middleDataSearchSection {
    padding-top: 5px;
    min-height: 700px;
}

.recipeListPageItem {
	/*clear: both;
    padding-bottom: 15px;
    display: inline-block;
    width: 960px;*/
    clear: both;
    padding-bottom: 15px;
    display: inline-block;
    width: 46%;
    padding-left: 20px;
    padding-top: 20px;
}

.recipeListPageItemLeft {
	/*float: left;
	width: 35%;*/
	float: left;
    width: 95%;
}

.recipeListPageItemLeft img {
	max-width:100%;
	box-shadow: 9px 8px 5px #888;
}

.recipeListPageItemRight {
	/*float: left;
	padding-left: 30px;
	width: 55%;*/
	float: left;
    padding-left: 10px;
    width: 90%;
}

.hiddeneLabel {
	position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;;
}
.descCSSStyle {
	width:90%;
	box-shadow: 9px 8px 5px #888888;
}

.steps-image div.descheader {
 margin-left: 20px !important;
 display: block;
 font-weight: bold;
}

.padtopbottomimg {
	width: 75% !important;
	margin-top: 35px !important;
	margin-bottom: 30px !important;
}

.homeTagLine {
    position: absolute;
    top: 72px;
    left: 25px;
    font-size: 10px;
    line-height: 10px;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid black;
    padding-top: 2px;
}

.uspage {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
}

.uspage, .uspage ul li {
	font-size: 12px;
	line-height: 18px;
}

.posLeft ul li {
	line-height: 33px;
}

.posLeft ul li a {
	color: #22b5e3;
}

.uspage ul {
	margin: 5px;
}

.uspage b {
	margin-bottom: 8px;
}

#overlay { 
  display:none; 
  position:absolute; 
  background:black; 
  opacity: 1.0;
  width: 100%;
}
#img-load { 
  position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: black;
	border-radius: 25px;
}

#img-load-link {
	position: fixed;
	top: 55%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.topFixedPosition {
	/*position: fixed;
    width: 960px;
    z-index: 100000;
    background: white;
    top: 0px;*/
    height: 150px;
}

.title .siteLogoHdr img {
	width: 125px !important;
    position: absolute;
    top: 10px;
    left: 29px;
   	max-width:100%;
	max-height:100%;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.botNextPrev .clear {
	width: 240px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.specialH1 {
    margin: 3px;
    font-size: 21px !important;
    line-height: 25px !important;
}

.specialHome {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
	height:auto;
}

.specialHomeContainer {
	background: white;
    padding: 0px 20px 20px 20px !important;
}

.aboutData {
	box-shadow: 5px 5px 5px rgba(132,132,182,0.5);
    background: rgba(72, 112, 20, 0.71);
    font-size: 21px;
    color: white;
    line-height: 33px;
    font-weight: normal;
    padding: 20px;
}

.aboutData a{
	color: white;
	text-decoration: none;
}

.paginationHeader {
	display: inline-block;
	clear: both;
	width: 100%;
}

.paginationHeader h1 {
	float: left;
	width: 30%;
}

.paginationHeader .topPaginationData {
    clear: none;
    text-align: right;
    padding-right: 0;
    width: 65%;
    float: right;
    padding-top: 0px !important;
}

.rightAddSection {
    width: 100%;
    height: 270px;
    text-align: center;
    border-top: 2px solid grey;
    padding-top: 15px;
    padding-bottom: 5px;
    clear: both;
}

.leftOne, .leftTwo, .leftThree {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	width: 300px;
}


.leftThree div {
	width: 100% !important;
}

.leftThree div iframe {
	margin: 0px auto;
}


.descp a, .desc a {
	color: #22B5E3;
}

.descp, .simple-blog .steps-image div, .simple-blog div {
	line-height: 26px;
}

#middleDataSearchSection a {
	font-weight: 500 !important;
}

.headerFont {
	font-size: 24px;
    margin: 0px;
    font-weight: normal;
}
.highlight {
    color: tomato;
    font-weight: bold;
    font-size: 20px;
}

#searchMdl {
	min-height: 550px;
	text-align:center;
	padding: 100px;
	padding-top:20px;
}

.f30px {
	font-size:30px;
	line-height: 50px;
}

.searchTxt {
	padding-top: 20px;
	font-size:30px;
}

.searchPlace {
	clear: both;
	padding-top:45px;
	width: 100%;
}

.searchPlace .searchPositionTop a:hover { 
	background: #22B5E3;
}

.searchPositionTop {
	float:left;
}

.searchRight {
	float: left;
	padding-left: 15px;
}

.searchPlace .searchPositionTop a {
	background: black;
    padding: 5px 12px 6px 12px;
    color: white;
    font-size: 12px;
    width: 40px;
    border: 2px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    float:left;
    margin-top: 0.5px;
    font-weight: bold;
    line-height: 15px;
}

.searchPlace .searchPositionTop input {
	margin-top: 1px;
	width: 136px;
	float: left;
	border: 1px solid grey;
	padding: 5px;
	font-weight: bold;
}

.adSection {
	/*display:none;*/
	width: 728px;
    height: 95px;
    top: 0px;
    margin: auto;
    right: 0px;
    margin-top: 20px;
}

.adSectionTop {
	/*display:none;*/
	width: 320px;
    height: 50px;
    position: absolute;
    top: 0px;
    margin: auto;
    right: 0px;
}

.header .title{
	float: left;
	margin-top: -5px;
	padding-left: 10px;
	width: 50%;
}

.header .title img {
	width: 280px;
}

.disqus_thread_class {
	clear: both;
	overflow: scroll;
    min-height: 300px;
    padding: 20px;
}

.commentHeader {
	font-size: 20px;
	float: left;
	border-bottom: 1px solid grey;
	width: 100%;
}

.relatedRecipes {
	font-size: 20px;
	float: left;
	padding: 10px 0px;
	width: 100%;
}

.relatedRecipesData { 
	padding: 20px;
    min-height: 490px;
	display: inline-block;
	background: linear-gradient(to bottom,rgba(181,189,200,1) 0,rgba(189,199,216,0.22) 100%);
    box-shadow: 5px 5px 5px rgba(132,132,182,0.5);
}

.relatedRecipesData .imagesPage a {
	color: #3998B7;
	font-size: 16px;
}

.relatedRecipesData .imagesPage a:hover {
	color: #113744;
}

.relatedRecipesData .imagesPage {
	height: 250px;
}

.headerLogo {
    position: absolute;
    top: 25px;
    left: 160px;
    z-index: -1;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

.headerLogo img {
	width: 110px;
}

.recipePage {
	min-height: 550px;
	padding-top: 5px;
	padding-bottom: 5px;
    display: inline-block;
    max-width: 100%;
}

.middleTop {
	clear: both;
	width: 100%;
	min-height: 420px;
	margin-top: -20px;
}

.homeJoinUsDiv {
	padding-top: 20px;
}

.homeJoinUsDivBot {
	padding-bottom: 10px;
}

.specialButton a {
    background: linear-gradient(#817e7e,#414141);
    padding: 8px 20px 8px 20px;
    color: white;
    font-size: 17px;
    width: 120px;
    border: 2px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
}

.three div {

}

.three div.subscribe {
	padding-top: 0 !important;
}

.specialButton a:hover {
	background: linear-gradient(#E7F8F8,#22B5E3);
}

.middleData {
	padding-top: 15px;
	padding-bottom: 10px;
}

.pad20px {
	padding-right: 20px !important;
}

.headerMenu {
    color: black;
    clear: both;
    display: inline-block;
    background: #f3f3f3;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top:106px;
    padding-top: 10px;
    height: 28px;
    text-align: right;
}

.headerMenu a {
	font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    color: #22b5e3;
    padding: 10px 10px 6px 10px;
    line-height: 23px;
} 

.headerMenu a.selected {
	color: white;
	background-color: #008cba;
}

.headerMenu a.selected:hover {
	color: white;
	background-color: #008cba;
}

.headerMenu .mobileMenu a.selected:hover, .headerMenu .mobileMenu a:hover {
	background-color: #008cba;
}

.headerMenu a:hover {
	color: #330066;
	background-color: #e7e7e7;
}

.headerMenu .siteLogoMenu a:hover {
	background: none !important;
}

.header {
	padding-left: 20px;
    padding-top: 7px;
    clear: both;
    display: inline-block;
    width: 97.5%;
    height: 105px;
}

.header .right{
	float: right;

}

.header .right a{
	float: right;
}

.vegTopLine {
	/*-webkit-box-shadow: 0px 3px green;
  	-moz-box-shadow: 0px 3px green;
  	box-shadow: 0px 3px green;*/
}

.nonVegTopLine {
	/*-webkit-box-shadow: 0px 3px red;
  	-moz-box-shadow: 0px 3px red;
  	box-shadow: 0px 3px red;*/
}

body {
	height: 100%;
	margin: 0px;
	font-family: serif, screen-sm, Tahoma;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #545353;
}

.centerContent {
    padding: 0 0.3rem;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.middleBottom {
    padding-top: 12px;
    min-height: 800px;
    clear: both;
}

.cookbook {
	padding: 10px;
	padding-top: 11px;
    background-color: lightgray;
    margin-top: 12px;
    color: darkblue;
    font-size: 14px;
    font-weight: bold;
}

.cookbook a:hover {
	color: white;
}

.cookbook a.download:hover {
	background: grey;
}

.cookbook a.download {
	background: darkblue;
    padding: 5px 10px 5px 10px;
    color: white;
    font-size: 13px;
    width: 120px;
    border: 2px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.middleBottom .left, .middleBottom .middle, .middleBottom .right {
	float: left;
	width: 30%;
	text-align: left;
	padding: 15px 0px 20px 0px;
}

.clearboth {
	clear: both;
}

.homeTitleH2 {
	margin: 10px 0px 5px 0px;
	color: #22b5e3;
	font-size: 22px;
	line-height: 32px;
}

.homeTitleH2:hover {
	color: #257993;
}

.middleBottom .left a, .middleBottom .middle a, .middleBottom .right a {
	text-decoration: none;
}

.middleBottom .left img, .middleBottom .middle img, .middleBottom .right img {
	width: 100%;
	box-shadow: 4px 4px 9px #888;
}

.middleBottom .middle, .middleBottom .right {
	padding-left: 5%;
}

.lineBreakBottom {
	border: 1px solid grey;
	width: 99.5%;
	float: left;
}

.footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
    padding: 20px;
    background: whitesmoke;
    box-shadow: 5px 5px 5px rgba(132,132,182,0.5);
	min-height: 210px;
	width: 95.5%;
}

.itemTypeLabel {
    position: relative;
    background: lightgrey;
    padding: 5px;
    border-radius: 0px 8px 0px 0px;
    left: 0px;
    text-transform: uppercase;
    font-size: 10px;
    bottom: 23px;
    width: 100px;
    line-height: 11px;
}

.vegItem {
  color: white;
  background: yellowgreen;
  padding:5px 5px 2px 15px;
  width: 70px !important;
}

.nonVegItem {
  color: white;
  background: tomato;
  padding: 5px 5px 2px 12px;
}

.featuredBlog {
  color: white;
  background: #75c5df;
  padding: 5px 5px 2px 12px;
}

.blankTR {
    height: 30px;
}

.title {
	font-size: 19px;
}

.title a{
	color: #22B5E3;
	text-decoration: none;
}

.title a:hover{
	color: #5d3a52;
}

.wordcloudImg {
	padding-top: 20px;
	min-height: 550px;
	clear: both;
}

.recipeDataPage {
	padding-top: 0px;
	min-height: 550px;
	clear: both;
}

.imagesPage {
	float: left;
}

.tagContent {
	padding-top: 15px;
	padding-bottom: 15px;
}

.siteTagsAll span {
	display: block !important;
	float: left !important;
	padding: 10px;
}

.tagContent .heading {
	font-weight: bold;
}

.topNextPrevNavLinks {
	padding-top: 10px;
}

.imagesPage a, .footer a, .linkColor a{
	color: #22B5E3;
	text-decoration: none;
}

.tagContent a {
	color: white;
	text-decoration: none;
}

.tagContent a:hover {
	color: black;
}

.tagContent span:hover {
	background: #f3f3f3;
	border: 1px solid grey;
}

.prevLink:before {
	content: url(../images/arrow-left.png);
}

.netxLink:after{
	content: url(../images/arrow-right.png);
}

.prevLinkD:before {
	content: url(../images/arrow-left-disabled.png);
}

.netxLinkD:after{
	content: url(../images/arrow-right-disabled.png);
}

.imagesPage a:hover, .footer a:hover {
	color: #5d3a52;
}

.imagesPage img {
	height: 130px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 9px 8px 5px #888888;
}

.relatedRecipesData .imagesPage img {
	height: 180px;
}

.relatedRecipesData .imagesPage .addImgDiv {
	width: 280px;
	height: 200px;
	height: 180px;
	margin: 10px;
	box-shadow: 9px 8px 5px #888;
	background-repeat: round;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.group1 img {
	box-shadow: 9px 8px 5px #888888;
}

.desc {
	font-size: 17px;
    float: left;
    line-height: 26px;
}

.descHomeDate {
	font-size: 15px;
    line-height: 30px;
    font-weight: 600;
}

.tagContent, .topPaginationData {
	clear: both;
	text-align: center;
	padding:10px;
}

.topPaginationData  span{
	padding-right: 10px;
	display: inline-block;
	font-size: 19px;
	margin-bottom: 15px;
}

.tagContent span{
	display: inline-block;
	font-size: 16px;
	border: 1px solid black;
    text-align: center;
    padding: 4px 6px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: black;
    margin-bottom: 10px;
}


.topPaginationData  span.selected{
	font-size: 17px;
    color: white;
    padding: 7px;
    margin-right: 8px;
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+3,28343b+100 */
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 3%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(3%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* W3C */
}

.topPaginationData  span a:hover {
	color: white;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+3,28343b+100 */
	background: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 3%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(3%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 3%,rgba(40,52,59,1) 100%); /* W3C */
}

.topPaginationData  span a{
	font-size: 16px;
    color: black;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    background: rgb(242,249,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
	
}

.clear {
	clear:both;
}

.data p {
	font-size: 22px;
}

.internalLI {
	list-style: none;
    margin-left: -19px;
    font-weight: bold;
    padding-top: 8px;
}

.steps-image img {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 9px 8px 5px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.complete {
	padding-top: 10px;
    font-weight: bold;
}

.steps-image div {
	padding-top: 15px;
    font-size: 20px;
    display: list-item;
    margin-left: 1.3em;
    margin-left: 40px;
    line-height: 30px;
}

.simple-blog .steps-image div, .simple-blog div{
	display: inline-block !important;
	padding-top: 5px;
    font-size: 20px;
    margin-left: 0px !important; 
    padding-right: 0px;
    line-height: 30px;
}

.simple-blog div b u {
    font-size: 20px;
    line-height: 35px;
}

.topImagePosition {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

h2 {
	font-weight: 400;
    margin-bottom: 10px;
}

h1 {
	float:left;
	margin-bottom: 5px;
	font-weight: 500;
	line-height: 42px;
}

ul li {
	line-height: 22px;
    font-size: 20px;
}

.steps-image span {
	display: block;
    font-size: 19px;
    font-weight: 400;
}

.additionalRecipeCaption {
	clear:both;
	padding-left:20px;
	width:280px;
	height:70px;
}

.publicpresence {
	margin: 0px auto;
	width: 90%;
	min-height: 600px;
	padding: 10px;
}

.publicpresenceItem {
	padding-bottom: 20px;
	clear: both;
	text-align: left;
	min-height: 100px;
}

.publicpresenceItem img {
	width: 190px;
	height: 95px;
	border: 1px solid grey;
	padding: 1px;
	float: left;
	margin: 10px 20px;
}

.spicyworld-apps .publicpresenceItem img {
	height: 100px;
	width: 100px;
}

.publicpresenceItem span {
	font-size: 14px;
}

.publicpresenceItem a {
	color: #22b5e3;
	text-decoration: none;
}

.publicpresenceItem a:hover {
	color: grey;
}

.publicpresenceItem .datatxt {
	float: left;
	padding-top: 10px;
}

.publicpresence .logo {
	width: 270px;
	float: left;
	padding-bottom: 20px;
}

.publicpresenceItem .divImg {
	padding-left: 20px;
	width: 190px;
	height: 95px;
	padding-top: 10px;
}

.publicpresence .description {
	width: 60%;
	float: left;
	line-height: 22px;
	text-align: left;
}

.publicpresence .description b {
	font-size: 20px;
}

.commentSectionPopOut {
	position: fixed;
    width: 64.5%;
    background: floralwhite;
    bottom: 10px;
    z-index: 10000;
    padding: 20px;
    display: inline-block !important;
    height: 50%;
}

.commentSectionPopOut span {
	display: block !important;
}

.commentHeader span {
	float: right;
	display: none;
}

.commentSectionPopOut .fb-comments {
	clear: both;
    display: inherit !important;
    height: 100%;
    overflow: auto;
}

.commentHeader span a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.top10Tags {
	width: 97.5%;
	background: whitesmoke;
	padding: 10px;
	display: inline-block;
}

.headingTags {
	font-size: 17px;
	clear: both;
	padding: 10px 0px 0px 10px;
}

.top10Tags a:hover {
	background: grey;
}

.top10Tags a {
    float: left;
    padding: 7px 20px;
    margin: 10px;
    border-radius: 15px;
    background: black;
    color: white;
	text-decoration: none;
}

.recipePage .rightClass {
	float: right;
}

#middleDataSearchSection .searchHeader {
	font-size: 25px;
}

#viewsCount {
	padding-left: 10px;
	text-transform: uppercase;
}

.landingRow {
	clear: both;
}

.searchNote {
	font-size: 12px;
    font-weight: bold;
    color: darkmagenta;
}

#subscribeMsg {
	padding-top: 50px;
    width: 80%;
    margin: 0px auto;
    min-height: 550px;
}

#subscribeMsg img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#subscribeMsg .searchTxt {
	padding: 20px;
    font-size: 20px;
    text-align: center;
}

.subscribeTxtSuccess {
    padding: 10px;
    background: darkolivegreen;
    color: white;
    border-radius: 10px;
}

.subscribeTxtFail {
	padding: 10px;
    background: tomato;
    color: white;
    border-radius: 10px;
}

.footer .one, .footer .two {
	float: left;
	width: 30%;
	padding-left: 1%;
}

.footer .one, .footer .two, .footer .three {
	height: 500px;
}

.footer .three {
	width: 30%;
}

.three {
	float: right;
	text-align: right;
	padding-left: 1%;
}

.three .selected {
	color: black !important;
}

.siteTagsAll {
	display: inline-block;
	margin: 0px auto;
    width: 100%;
}

.one, .two {
	text-align: left;
}

.footerLinksSpecial a {
    font-size: 16px !important;
    line-height: 24px;
}

.two .main {
    font-size: 20px;
    line-height: 30px;
}

.two .sub {
    margin-top: 10px;
    font-size: 14px;
    color: grey;
    text-transform: uppercase;
    line-height: 26px;
}

.subscribeEmail {
	width: 97%;
    height: 25px;
    font-size: 15px;
}

.footerLinksSpecial .two .specialButton {
	margin-top: 18px;
}

.footerLinksSpecial .two .specialButton a {
	color: white !important;
	font-size: 16px !important;
}



#subsMsgDiv {
	display: none;
	padding-top: 0;
    padding-bottom: 0;
    line-height: 19px;
    color: green;
}

.footerLinksSpecial .noteMessage a {
	font-size: 11px !important;
	line-height: 18px !important;
}

.noteMessage {
    font-size: 11px;
    margin-top: 15px;
    display: inline-block;
    line-height: 18px !important;
}

.itemsIngList {
	display: inline-block;
}

.itemsIngList .in, .itemsIngList .inS {
    float: left;
    cursor: pointer;
    border: 1px solid grey;
    margin: 5px;
    font-size: 15px;
}

.itemsIngList .in .leftItemB, .itemsIngList .inS .leftItemB {
	border-right: 1px solid grey;
	width: 0px;
    background: lightgrey;
}

.itemsIngList .in .leftItemB,  .itemsIngList .in .leftItemData, .itemsIngList .inS .leftItemB,  .itemsIngList .inS .leftItemData {
    float: left;
    padding: 2px 12px;
}

.cookyourself h4 {
	margin: 10px 0px 0px 0px;
	clear: both;
}

.cookyourself {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-top: 10px;
}

.selectedItemData .leftItemB, .selectedItemDataS .leftItemB {
	background: grey !important;
}

.specialButtonWhat {
	clear: both;
    padding-top: 20px;
    padding-right: 10px;
    display: inline-block;
}

.cookyourself p {
	font-size: 16px;
    line-height: 21px;
}

.middleIngSearchArea {
	padding-top: 20px;
	padding-bottom: 20px;
}

.whatErrorMessage {
    color: red;
    display: none;
    height: 10px;
}

#recoDataSection {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
}

#recoDataSection .middleBottom {
	height: 300px !important;
}

.itemsIngList {
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

.footerFB {
	margin: 0px auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 15px 0px;
    overflow: hidden;
}

.three div {
	clear: both;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: right;
	font-size: 12px;
    text-transform: capitalize;
}

.homeCarosalImagesContainer {
	position: relative; 
	top: 0px; 
	left: 0px; 
	height: 300px;
}

.homeCarosalImagesContainerChild {
	cursor: move; 
	position: absolute; 
	overflow: hidden; 
	left: 0px; 
	top: 0px;  
	height: 300px;
}

.allImageImage {
	width: 212px;
}

.allImageImageTitle {
	clear:both;
	padding-left:20px;
	width:212px;
	height:70px;
}

.specialButtonWhat a, .specialButtonWhat div {
	float: left;
	margin-top: 20px;
}

.hide {
	display: none;
}

.itemsIngList::selection { background: transparent;color:inherit; }
.itemsIngList::-moz-selection { background: transparent;color:inherit; }

#login_status a {
	color: #22b5e3;
	text-decoration: none;
	padding-top: 5px;
}

#login_status span {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.memberLoginPage {
    padding: 20px;
    min-height: 670px;
    background: linear-gradient(to bottom,#f3f3f3 0,rgba(255, 255, 255, 0.22) 100%);
}

.memberLoginPage input {
	width: 200px;
}

.memberLoginPage .head {
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
    float: none;
}

.registerSignin a {
	color: #22b5e3;
	text-decoration: none;
	font-size: 17px;
	padding-left: 10px;
}

.registerSignin a::before {
    content: url(../images/arrow-right.png);
}

#loginRegisterPage, #signedInAccount {
	display: none;
}

.accountMenu {
	clear: both;
}

.accountMenu a {
    padding: 10px;
    float: left;
    margin: 2px;
    text-decoration: none;
    width: 30%;
    text-align: center;
    color: black;
	background: linear-gradient(to bottom,#f6f7f8 0,#999 100%);

}

.accountMenu a:hover,  .accountMenu .selectedItem {
    background: linear-gradient(to bottom,rgba(214,240,253,1) 0,#008cba 100%);
    color: white;
}

.signoutButton {
	position: absolute;
    right: 30px;
    top: 180px;
}

#userNameTop {
    font-size: 17px;
}

#accountContent {
	clear: both;
}

.signoutButton a {
    color: deepskyblue;
    text-decoration: none;
    text-transform: uppercase;
}

#bookmark a {
    padding: 3px 15px 4px 15px;
    background: linear-gradient(rgba(181,189,200,1),#414141);
    color: white;
    text-decoration: none;
    font-size: 13px;
}

#bookmark a:hover {
	background: linear-gradient(rgba(181, 189, 200, 0.51),rgba(65, 65, 65, 0.66));
}	

#bookmark {
    float: left;
    padding-right: 10px;
}

#messagePopupBkm {
    display: none;
    position: relative;
}

#messagePopupBkm p {
    position: absolute;
    z-index: 100001;
    background: azure;
    border-radius: 10px;
    border: 1px solid azure;
    padding: 20px;
    top: -15px;
    width: 50%;
    left: 50px;
    box-shadow: 2px 4px 14px 4px #888;
}

#messagePopupBkm p a {
	text-decoration: none;
	color: cornflowerblue;
}

#messagePopupBkm p a.btn {
    line-height: 25px;
}

#messagePopupBkm #signInError {
	text-transform: none !important;
    line-height: 13px;
    font-size: 13px !important;
    padding: 4px 0px 4px 0px;

}

#messagePopupBkm p a.btn:before {
	content: url(../images/arrow-right.png);
}

#messagePopupBkm input {
	width: 65%;
}

#messagePopupBkm b {
	font-size: 16px;
    margin-bottom: 4px;
    display: block;
}

#messagePopupBkm span {
    border-bottom: 1px solid grey;
    width: 100%;
    clear: both;
    display: block;
    line-height: 8px;
    margin-bottom: 7px;
}

#messagePopupBkm div {
	position: absolute;
    left: 10px;
    margin-left: 55%;
    z-index: 1000001;
    background: white;
    top: -10px;
    padding: 3px 6px;
    border-radius: 49px;
    box-shadow: 2px 4px 14px 4px #888;
}

#messagePopupBkm div a {
	color: black;
    text-decoration: none;
}

.settingsAnchors a {
	color: deepskyblue;
    text-decoration: none;
    text-transform: uppercase;
}

.settingsAnchors table td {
	border: 1px solid grey;
	padding: 10px;
}

#account_data_2 {
	clear:both;
	overflow:auto;
}

#rating a {
	float: left;
	padding-right: 5px;
}

#rating a:hover {
	opacity: 0.5;
}

#rating img {
	width: 18px;
}

#rating label {
    float: left;
    font-size: 15px;
    font-weight: bold;
}

#loggedInFeatures {
	padding-bottom: 10px;
	clear: both;
	min-height: 18px;
}

#loggedInFeatures #rating a{
	display: none;
}

#rating, #bookmark {
	float: left;
}

/* MESSAGE STARTS */
.popupMessageSpecial {
	display: none;
}

.popupMessageSpecial div {
    position: fixed;
    z-index: 100001;
    background: rgba(242,249,254,1);
    border-radius: 10px;
    border: 1px solid #516055;
    padding: 20px;
    top: 140px;
    width: 50%;
    box-shadow: 2px 4px 14px 4px #888;
    max-width: 915px;
    left: 25%;
}

.travelSite .travel-section {
	padding-top: 5px;
    padding-bottom: 20px;
    display: inline-block;
    width: 100%;
}
/* MESSAGE ENDS */

.popupMessageSpecial a.close-btn {
    text-decoration: none;
    border-radius: 25px;
    background: #000000;
    color: white;
    width: 98%;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: -11px;
    width: 22px;
    right: -9px;
}

.popupMessageSpecial a.link {
	color: #22b5e3;
	text-decoration: none;
}

.popupMessageSpecial .link:hover {
	color: #495c63;
	background: none;
}

.popupMessageSpecial span {
	font-size: 17px;
    color: #5e5151;
    font-weight: 500;
}

.popupMessageSpecial div span p {
	margin: 5px !important;
}

.popupMessageSpecial span {
	text-align: center;
}

.socialMapping {
	position: fixed;
    right: 20px;
    bottom: 13px;
    clear: both;
    width: 44px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 3px;
    z-index: 111111;

	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

.socialMapping .social-icon {
	display: none;
}

.socialMapping img {
	width: 45px;
}

.moreInfo {
    position: absolute;
    top: -200px;
    text-align: left;
    width: 90%;
    float: left;
}

.moreInfo .desc {
	height: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.popupBtn {
	font-size: 16px !important;
}

.middleBottom .readMore, .readMore, .staticMessage a, .popupBtn {
    font-size: 11px;
    background: #22b5e3;
    padding: 4px 10px 4px 10px;
    color: white;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.middleBottom .readMore:hover, .readMore:hover, .staticMessage a:hover, .popupBtn:hover {
	background: linear-gradient(#817e7e,#414141);
}



.siteTagsAll .siteTagsAllMobile {
	display: block !important;
	width: 90%;
	padding: 20px;
}

.siteTagsAll .siteTagsAllMobile a {
	text-decoration: none;
}

.siteTagsAll .siteTagsAllMobile a:hover {
	color: #22b5e3;
}

.recipeDataPage .videoIframeDiv iframe, .youtubeLink iframe {
	width: 700px;
	height: 394px;
}

.recipeDataPage .simple-blog .steps-image .videoIframeDiv, .youtubeLink {
	width: 700px;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 30px;
    padding-bottom: 20px;
}

.middleBottom .homeTagContent img, .homeTagContent img {
	width: 10px;
    height: 10px;
    float: left;
    position: relative;
    top: 9px;
    box-shadow: none;
    border-radius: 0px;
}

.middleBottom .homeTagContent div, .homeTagContent div {
	padding: 2px 8px 2px 0px;
    float: left;
}

#middleDataSearchSection .middleBottom .homeTagContent a, .homeTagContent a {
	padding-left: 5px;
    color: rgba(62, 50, 50, 0.63);
    float: left;
    font-weight: normal !important;
    text-decoration: none !important;
    font-size: 16px;
}

.middleBottom .homeTagContent, .homeTagContent {
	padding-top: 4px;
    clear: both;
}

.linkReadMoreDiv {
	clear: both;
	padding: 10px 0;
}

.sdisabled {
	background: whitesmoke !important;
    color: black !important;
    font-size: 16px !important;
}

.topH1Tag {
	float: none !important;
    margin: 0px !important;
    font-weight: normal !important;
    display: inline-block !important;
    font-size: inherit !important;
}

.bioRight {
	font-size: 13px;
    padding-left: 10px;
    float: right;
    width: 80%;
    color: #646464;
    padding-top: 10px !important;
    line-height: 17px !important;
}

.bioLeft {
	width: 40px;
    border-radius: 50%;
    height: 40px;
    float: right;
}

.bioSection  {
	clear: both;
    padding-top: 6px !important;
}

.bioSection .bio-img {
	height: 40px;
    width: 40px;
    border-radius: 50%;
    float: right;
}

.bio-amitava {
	background: url("../images/profile-amitava-icon.jpg") center no-repeat;
}

.bio-arpita {
	background: url("../images/about-arpita-icon.jpg") center no-repeat;
}

.bottomHrTeam {
	width: 90%;
    margin-left: 0px;
}

.bioSectionHeading {
	padding-top: 5px !important;
    font-size: 20px !important;
    line-height: 30px;
}

.footerLinksSpecial .bioRight a {
	font-size: 13px !important;
	line-height: 15px !important;
	text-transform: uppercase !important;
}

.three .contactMe, .three .contactMe div {
	padding-top: 0px !important;
}

.three .contactMe {
	width: 98%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 15px;
}

.three .contactMe span {
	font-weight: 400;
	text-transform: none !important;
}

.three .contactMe a {
	font-size: 14px !important;
    text-transform: lowercase !important;
}

.three .contactMe ul li {
	font-size: 14px;
}

.three .contactMe b {
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.three .contactMe ul {
	padding: 0px;
    margin: 0px;
    margin-top: 5px;
    list-style: none;
}

.recoLinks {
	padding-top: 30px;
    padding-bottom: 30px;
}

.recoLinks .commentHeader {
	border-bottom: none !important;
	padding-bottom: 5px;
}

.recoLinks .recoLinksBot a {
	float: left;
	padding-right: 10px;
	color: #008cba;
	font-size: 17px;
	text-decoration: none;
}

.recoLinks .recoLinksBot {
	clear: both;
}

.recoLinks .recoLinksBot a:before {
	content: url(../images/arrow-right.png);
	float: left;
    padding-right: 5px;
}

.footerCopyTxt {
	line-height: 16px;
}

.fbSocial {
    margin-top: -5px;
    position: relative;
}

#chitika-container-adhesion {
	position: relative !important;
}

.aboutPageMain {
	clear: both;
    height: 860px;
}

.aboutPageMain img {
	height: 400px;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
}

.cal-item {
	position: fixed;
    right: 0px;
    display: none;
    bottom: 0px;
}

.marginleft10px {
	margin-left: 10px;
}

.prompt-img {
	width: 80%;
	padding-left: 10%;
	padding-top: 5px;
}

.steps-image div.header-style {
    display: block;
    margin-left: 21px;
    font-weight: bold;
    margin-bottom: -15px;
}

.youtubeVideoTop {
    position: relative;
    padding-bottom: 48%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.youtubeVideoTop iframe, .youtubeVideoTop object, .youtubeVideoTop embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
	display: none !important;
}

.padleft0px {
	padding-left: 0 !important;
}

.anchorLikeLabel {
	font-size: 13px !important;
    line-height: 15px !important;
    text-transform: uppercase !important;
    color: #22b5e3;
}

.imagesPage .static-link a {
    color: grey;
    cursor: text;
}

.css-fb {
    font-size: 11px;
    line-height: 12px;
    background: #dbdbdb;
    padding: 3px;
    width: 110px;
    height: 25px;
}

.css-fb .img-div {
	float: left;
    width: 30px;
}

.css-fb .img-div img {
    height: 23px;
    padding-left: 2px;
    padding-top: 1px;
}

.css-fb .text-div {
	float: left;
    width: 80px;
    color: #3b5a9a;
    font-family: Helvetica;
    font-size: 9px;
}

.css-fb .text-div .fb-txt {
	font-size: 13px;
    font-weight: 900;
}

.img-hover-zoom, .recipeListPageItemLeft {
	overflow: hidden;
}

.img-hover-zoom img, .recipeListPageItemLeft img {
	transition: transform .5s ease;
}

.img-hover-zoom img:hover, .recipeListPageItemLeft img:hover {
	transform: scale(1.5);
}

.desktop-add {
	position: fixed;
    left: 10px;
    top: 75px;
    width: 160px;
    height: 600px;
}

@media (max-width: 1200px) {
	.desktop-add {
		display: none;
	}
}

.subscribe-btn {
	cursor: pointer;
}